body {
    font-family: 'Roboto Slab', serif;
}

.invoice-print { 
    display:block; page-break-before:always; 
}

.abstrak {
    font-size: 12pt; text-align: justify; text-justify: inter-word; text-indent: 45px; 
}
.judul-abstrak {
     font-size: 16pt; text-align: center 
}